:root {
  --color-secondary: #75767f;
  --color-icon: #4a4d58;
  --color-element: #3b3e4a;
  --color-surface: #161827;
  --color-surface2: #323542;
  --color-black: #0f1121;
  --color-white: #f1f2f9;
  --color-accent: #905bff;
  --color-green: #27ae60;
  --color-red: #eb5757;
  --transition-smooth: all 0.3s ease;
}
